*{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-style: italic;
    /* display: flex; */
}

body {
    background-image: url(./images/wp2533041.jpg);
}

.header {
    display: inline;
    font-size: 40px;
    font-style:italic;
    /* font-weight: bolder; */
    color: whitesmoke;
    height: 10px;
    width: 30px;
    margin-top: 10px;
    /* display: flex;
    justify-content: space-between;
    padding: 60px; */
    /* text-shadow: 2px 2px whitesmoke; */
    /* border: 2px;
    border-style: dotted 2px white; */
}

h1 {
    font-size: 30px;
    margin-left: 10px;  
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    text-align: left;
    float: right;
}   

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040309;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 40px;
    border: grey 2px dotted;
  }
  
  li a:hover {
    background-color: #A5A4B3;
    border: whitesmoke 2px solid;
  }

  #main {
    width: 250px;
    float: left;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
  }


  #bio {
    /* display: flex; */
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    /* justify-content: center;
    text-align: center;
    margin-top: 240px; */
    /* border-style: dotted 2px whitesmoke;
    border-radius: 30px; */
  }

  #info + #display{
    display: inline-block;
    width: 160px;
  }

  .side {
    display: inline-block;
    width:160px ;
    justify-content: space-around;
  }

  #work {
    margin-top: 100px;
    text-align:left;
    /* border-style: dotted 2px white; */
  }

  #work-content {
    /* flex: 1 0 300px;
    padding: 10px;
    text-align: center;
    border-style: dotted 2px white;
    justify-content: space-evenly; */
    border-width: 1px;
    display: flex;
    /* width: 200px;
    grid-template-rows: repeat(4, lfr); */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
  }

  /* #work-content:hover {
    border: black;
  } */

  #display {
    /* text-decoration: underline dotted 2px white; */
    font-size: 30px;
    margin-left: 10px;   
  }

  #work-content li {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 450px;
    border-radius: 50px;
    margin: 10px;
    padding: 0px;
  }

  #contact #info .side li a{
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    width: 0%;
 }

 /* #contact #info .side li{
    list-style-type: none;
 } */

 .side{
    margin: 0%;
    padding: 0%;
 }

  #connect {
    display: inline-flex;
    flex-wrap: unset;
    margin-top: 2%;
    list-style: none;

  }

  footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .left, .main, .right {
      width: 100%; 
    }
  }