*{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-style: italic;
}

body {
    background-image: url(./images/wp2533041.jpg);
}

.header {
    display: inline;
    font-size: 40px;
    font-style:italic;
    font-weight: bolder;
    color: slategrey;
    height: 25px;
    width: 60px;
    margin-top: 25px;
    text-shadow: 2px 2px whitesmoke;
}

nav {
    display: inline-flex;
    justify-content: flex-end;
    text-align: left;
    float: right;
}   

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040309;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 40px;
    border: grey 2px dotted;
  }
  
  li a:hover {
    background-color: #A5A4B3;
    border: whitesmoke 2px solid;
  }

  #main {
    width: 250px;
    float: left;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
  }


  .bio {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    border-style: dotted 2px whitesmoke;
    border-radius: 30px;
  }

  h2 {
    display: inline-block;
    width: 160px;
  }

  .side {
    display: inline-block;
    width:160px ;
  }

  #work {
    margin-top: 60px;
    text-align:justify;
  }

  #work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
  }

  #work-content li {
    /* transform: rotate(10deg); */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 450px;
    border-radius: 50px;
    margin: 10px;
    padding: 0px;
  }

  #contact #info .side a{
    margin-top: 10px;
    margin=left: 20px;
    border: none;
    width: 0%;
 }

 .side{
    margin: 0%;
    padding: 0%;
 }

  #connect {
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;

  }